<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    </head>
    <body>
   
<form enctype="multipart/form-data" action="/upload" method="post">
  <input type="file" name="abcd" />
  <input type="submit" value="Upload Image" name="submit" />
</form>
    </body>
</html>